/***** GENERAL STYLING *****/
/* Body */

html {
    scroll-behavior: smooth; /*This ensures that page scrolling is smooth when the buttons on the navbar are clicked*/
}


body {
    margin: 0%; /* ensures the site displays all the way to the edge of the browser */
    opacity: 1; /* This and transition affect the page loading fae in effect */
    transition: 3s opacity; /* This causes a 3 second fade in */
    letter-spacing: .2vw; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    overflow-x: hidden; /*This prevents the horizontal scroll bar from appearing when the quote is hovered over */
    user-select: none; /* This prevents the text on the webpage from being highlighted by the user */
}

body.fade-out {
    opacity: .1; /* This sets the level of opacity at the start of the load page */
}

/* Heading 1 elements */

h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #f4f4f4;
}

/* Heading 1 element hover effect */

h1:hover {
    text-shadow: .1vw .1vw .25vw rgb(28, 202, 173);
    transform: scale(1.3);
    transition: transform 1s;
}

/* Styling for portfolio title text */

.white-text {
    color: #fff;
    padding-top: 10vh; /* Adds padding to the top of the portfolio title text */
}

/* Paragraph elements*/

p {
    font-family: Arial, Helvetica, sans-serif extra bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}


.center {
    text-align: center;
}


.center:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/* anchor elements */

a {
    color:rgb(59, 59, 247) ;
    cursor: pointer;
    text-decoration: underline;
}

q {
    font-style: italic;
}

img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto; /* This centers all images */
}



@media screen and (max-width: 576) {
    img {
        height: 100px;
        margin-top: 150px;
    }
  
}

footer {
    padding: 2%;
    background-color: black;
    

}

/***** end of general styling *****/

/***** navbar styling *****/

.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5a;
}


@keyframes moveNav {    /* the animation effect for moving the navbar in the above left of the screen on load page */
    from {left: -100vw;}
    to {left: 0vw;}
}

/* navbar links */

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s; /* animiation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s;
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* Navbar home button */ 

.Navbar a.active {
    background-color: darkgrey;
}

/***** end of navbar styling *****/

/***** video styling *****/
/* formatting for background video */

#Hello_World {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #Hello_World {
        display: none;
    }

}

/* text over the video*/

.Video_Text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/***** end of video styling *****/

/* Slideshow section / container */

#Slideshow_Container {
    width: 39.5vw; /* Relative sizing of the container for the slideshow set to 39.5% of the viewport width */
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/*Remove the underline from the previous and next buttons on the slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,.75);
    width: 100%;
    
}

/* Next and Previous buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* positioning the next button on the right hand side */
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/* Hover effect for slideshow dots */
.active, dot:hover {
    background-color: black;
}

/* Fading animation for animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}   /* Image starts transparent */
    to {opacity: 1;}      /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/*** end slideshow styling ***/

/***** table styling *****/

* {   /*the asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: rgb(1, 1, 41);
}


.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

.Column_1 img:hover, .Column_2 img:hover {
    filter: drop-shadow(10px 10px rgba(28, 202, 173));
    transition: transform 1s;
    transform: scale(1.2);
}

/* this class is applied to the columns in the final row, overriding the height snd padding to provide more room for the contact while keeping the rest of the formatting from column1 and 2 */

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;

}

/***** end of table styling *****/

/***** contact form styling *****/
/* button used to open contact form - fixed at the bottom of the page */

.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: rgba(28, 202, 173);
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePop 5s;
    animation: movePop 5s;
}

.form-container h1 {
    color: black;
}

/*movePop animationmoves the button from the rught side of the screen to its fixed locaition on the viewport */
@keyframes movePop {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePop {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Stylign for the conatct form */
.form-popup {
    z-index: 8; /* this z-index ensires the contact fomr shows above all other elements on the page */
    display: none; /* set display to none, will use JavaScript to show the contact form */
    position: fixed; /* the form says in the same location no matter what */
    bottom: .5vw;
    right: .5vw;
    
}

/* Form styling */
.form-container {
    max-width: 49vw; /* Relative sizing of the form container - 49% of the viewport widht */
    padding: 1vw;
    background-color: white;
}

/* Input fields */
.form-container input[type=text] {
    width: 100%; /* The input boxes completely fill the width of the form-container */
    padding: .93vw; /* Adds padding to the input boxes */
    margin: .6vw 0 .6vw 0; /*Adds space between the input boxes and the labels */
    border: none; /* removes the border from the input boxes */
    background: gainsboro; 
    font-size: 1vw;
}

/* General styling for all buttons */
button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto; /* Allows the height to be resized depending on the content showing */
}

/* Hover effect fot contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

/* Submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/*** end of contact fomr styling ***/

/*** Media query section ***/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}


/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/
